{% extends "base.html" %}

{% block title %}Compound Detail - {{ cmpd.chemName }}{% endblock title %}

{% block content %}
<div class="container">
	<p>
	<h1> Compound Detail: <small>{{ cmpd }}</small></h1>
	</p>
	<a class="btn btn-primary btn-md" href="{{ cmpd.pk }}/update" role="button">&laquo; Update &raquo;</a>
	<a class="btn btn-danger btn-md" href="{{ cmpd.pk }}/delete" role="button">&laquo; Delete &raquo;</a>
	<hr>
	<p>
	<a class="btn btn-primary btn-md" href="{{ cmpd.pk }}/update" role="button">&laquo; Update &raquo;</a>
	<a class="btn btn-danger btn-md" href="{{ cmpd.pk }}/delete" role="button">&laquo; Delete &raquo;</a>
	{{block.super}}
</div>
{% endblock content %}