{% extends "base.html" %}

{% block title %}Lab Notebook Home{% endblock title %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h1>Hey lab members!</h1>
            <p>This is where we keep track of our compound inventory</p>
            <p><a class="btn btn-primary btn-lg" href="{% url 'cmpds:index' %}" role="button">Check it out &raquo;</a></p>
        </div>
    </div>

    <div class="container">
        <div class="row">
                <p>Consider adding a "Recently Added" section here?
        </div>
        {{ block.super }}
    </div>
    
{% endblock content %}